/*------------------------
	icons
-------------------------*/
@icon-whats: "\ea02";
@icon-yoga: "\ea03";
@icon-poolspa: "\ea04";
@icon-tenho-interesse: "\ea05";
@icon-face: "\ea06";
@icon-spa: "\ea07";
@icon-fitness: "\ea08";
@icon-skybar: "\ea09";
@icon-play: "\ea0a";
@icon-instagram: "\ea0b";
@icon-arrow-right: "\ea0c";
@icon-close: "\ea0d";
@icon-fight: "\ea0e";
@icon-arrow-right-sm: "\ea0f";
@icon-arrow-left-sm: "\ea10";

.icon-whats::before {
  content: @icon-whats;
}

.icon-yoga::before {
  content: @icon-yoga;
}

.icon-poolspa::before {
  content: @icon-poolspa;
}

.icon-tenho-interesse::before {
  content: @icon-tenho-interesse;
}

.icon-face::before {
  content: @icon-face;
}

.icon-spa::before {
  content: @icon-spa;
}

.icon-fitness::before {
  content: @icon-fitness;
}

.icon-skybar::before {
  content: @icon-skybar;
}

.icon-play::before {
  content: @icon-play;
}

.icon-instagram::before {
  content: @icon-instagram;
}

.icon-arrow-right::before {
  content: @icon-arrow-right;
}

.icon-close::before {
  content: @icon-close;
}

.icon-fight::before {
  content: @icon-fight;
}

.icon-arrow-right-sm::before {
  content: @icon-arrow-right-sm;
}

.icon-arrow-left-sm::before {
  content: @icon-arrow-left-sm;
}

