/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-whats: unicode(ea02);
$icon-yoga: unicode(ea03);
$icon-poolspa: unicode(ea04);
$icon-tenho-interesse: unicode(ea05);
$icon-face: unicode(ea06);
$icon-spa: unicode(ea07);
$icon-fitness: unicode(ea08);
$icon-skybar: unicode(ea09);
$icon-play: unicode(ea0a);
$icon-instagram: unicode(ea0b);
$icon-arrow-right: unicode(ea0c);
$icon-close: unicode(ea0d);
$icon-fight: unicode(ea0e);
$icon-arrow-right-sm: unicode(ea0f);
$icon-arrow-left-sm: unicode(ea10);

.icon-whats::before {
  content: $icon-whats;
}

.icon-yoga::before {
  content: $icon-yoga;
}

.icon-poolspa::before {
  content: $icon-poolspa;
}

.icon-tenho-interesse::before {
  content: $icon-tenho-interesse;
}

.icon-face::before {
  content: $icon-face;
}

.icon-spa::before {
  content: $icon-spa;
}

.icon-fitness::before {
  content: $icon-fitness;
}

.icon-skybar::before {
  content: $icon-skybar;
}

.icon-play::before {
  content: $icon-play;
}

.icon-instagram::before {
  content: $icon-instagram;
}

.icon-arrow-right::before {
  content: $icon-arrow-right;
}

.icon-close::before {
  content: $icon-close;
}

.icon-fight::before {
  content: $icon-fight;
}

.icon-arrow-right-sm::before {
  content: $icon-arrow-right-sm;
}

.icon-arrow-left-sm::before {
  content: $icon-arrow-left-sm;
}

