/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Nunito Sans', 'Poppins', sans-serif;
    background: #fafafa;
}
html {
    scroll-behavior: smooth;
  }
  @media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}
  /** scroll bar */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(87, 109, 101);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #43534d;
  }
  /** content */
#content{
    overflow-x: hidden ;
}
/* ****************
    text styles
***************** */
.text-gold{
    color: #F3E9DF;
}
.text-green-1{
    color: #495953;
}
.text-green-2{
    color: #6D847B;
}
.text-green-3{
    color: #9EB2AB;
}
.text-grey{
    color: #DDDDDD;
}
.text-black{
    color: #4B4B4B;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;

}
.text-section{

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: 3px;

}
.text-title{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */

}
.text-title-normal{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */

}
.text-paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


}
.text-menu{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: 2px;

}
.text-title-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;

}
.text-input{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: 2px;


}
/* icons */
.icon-2x{
    font-size: 25px !important;
}
.icon-3x{
    font-size: 90px !important;
}
.play-size{
    font-size: 60px !important
}
.playBg{
    color: #6D847B;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* btns */
.btn-primary-thick{
    background: #495953;
    border: 3px solid #6D847B;
    border-radius: 0;
    color: #F3E9DF;
}

.btn-secondary-thick{
    background: #6D847B;
    border: 3px solid #9EB2AB;
    border-radius: 0;
    color: #F3E9DF;
    box-shadow: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #495953;
    color: #F3E9DF;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 7px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li .side-border:hover {
    border-left: 5px solid #F3E9DF;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #F3E9DF;
    background: #6d7fcc;
}
#sidebar .bottom-list{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: start;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article{
    /* Green #2 */

    background: #6D847B;
    /* Green #3 */

    border: 3px solid #9EB2AB;
    box-sizing: border-box;
    border-radius: 0px !important;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
}
a.article:hover {
    background: #9EB2AB;

    /* background: #6d7fcc !important;
    color: #fff !important; */
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /* padding: 40px; */
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* btns */
.btn-outline-secondary{
    color: #9EB2AB;
    background-color: transparent;
    background-image: none;
    border: 2px solid #6D847B;
    border-radius: 0px;
}
.btn-outline-secondary:hover{
    color: #F3E9DF;
    background-color: #6D847B;
}
.btn-outline-light{
    border-radius: 0;
    border: 2px solid #9EB2AB;
    font-weight: bold;
    color: #9EB2AB;
}
.btn-outline-light:hover{
    border: 2px solid #9EB2AB;
    background-color: #9EB2AB;
    color: #fff;
}
.btn-outline-white{
    border-radius: 0;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;
}
.btn-outline-white:hover{
    border: 2px solid #fff;
    background-color: #fff;
    color: #495953 ;
}

/* sections */
section{
    overflow: hidden;
}
#index-banner{
    height: 100vh;
    position: relative;
}

#empreendimento{
    background: #F3E9DF;
}

.row-img-holder{
    position: relative;
    z-index: 10;
    max-width: 411px;
    height: 480px;

    top: -15px;
    left: 15px;

}
.row-img-holder-right{
    position: relative;
    z-index: 10;
    max-width: 411px;
    height: 480px;

    top: -15px;
    right: 15px;

}

#mid-slider{
    background: #B6C9C2;
}

#projetos{
    position: relative;

    
    background-image: linear-gradient( rgba(109, 132, 123, 0.8), rgba(109, 132, 123, 0.8)),url("../imgs/projeto-bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;

}
.card-btn{
    width: 100%;
    height: 280px;
    background: #495953;
    border-radius: 0;
    color: #9EB2AB;
    font-size: 24px;
    transition: transform .2s;
}
.card-btn:hover{
    color: #495953;
    background: #9EB2AB;
    transform: scale(1.03);
}
.projeto-card{
    width: 100%;
    height: 437px;
}
.projeto-card-wide{
    height: 325px !important;
}
.projeto-card button{
    position: absolute;
    bottom: 30px;
    right: 40px;

}
.projeto-card-title{
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 248px;
}
.content-container{
    padding: 4rem!important;
}
#localizacao{
    background: #F3E9DF;
}
#contato{
    background: #6D847B;
    position: relative;
}
.card-contact{
    background: #495953;
}
.card-contact-light{
    background: #F3E9DF;

}

/* btns */
.btn-primary{
    color: #F3E9DF;
    font-weight: bold;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

letter-spacing: 2px;

    background: #495953;
    border-radius: 0em;
    border: 0;
}
.btn-primary:hover{
    background: #9EB2AB;
}
.btn-rounded{
    color: #F3E9DF;

    background: #495953;
    border-radius: 100%;
    border: 0;
}
.btn-rounded span{
    padding: 13px 4px;
}


/* menu links */
.nav-link{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{

    font-weight: bold;
    color: #F3E9DF;
    background-color: transparent;
    border-radius: 0em;
    border-bottom: 3px solid #495953;

}
.playBg{
    background-color: #fff;
    width: 100;
    height: 100;
    border-radius: 50px;
}
.post-text{
    max-width: 400px;}

.modal-body{
    padding: 4rem;
}
.modal-content{
    border-radius: 0;
    background-color: rgba(36, 40, 39, 0.9);
}
.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}

/* fomularios input */
.form-control{
    background-color: transparent;
    border-radius: 0;
    border: 0px;
    border-bottom: 3px solid #495953 ;
}
.form-control:focus{
    background-color: transparent;
    border-radius: 0;
    border: 0px;
    border-bottom: 4px solid #495953 ;
    box-shadow: none;
    color: #F3E9DF;

}
textarea{
    border: 3px solid #495953 !important;

}
/** float container */
.float-container {
    /* border: solid 1px #ccc; */
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 0 8px;
    position: relative;
   /** active label */
}
.float-container input {
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;
    width: 100%;
    color: #F3E9DF;

}
.float-container input::placeholder {
    color: #F3E9DF;
    font-weight: 400;
}
.float-container label {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: 2px;

    /* Gold #1 */

    color: #F3E9DF;

    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all 0.1s ease-in-out;
}
 label {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: 2px;

    /* Gold #1 */

    color: #F3E9DF;

}
.float-container.active label {
    transform: translate(0, 4px) scale(0.75);
}

@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1200px;
    }
  }

.border-offset{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* position: absolute; */
    /* border: 10px solid #9EB2AB; */
    -webkit-box-shadow:inset 0px 0px 0px 10px #9EB2AB;
    -moz-box-shadow:inset 0px 0px 0px 10px #9EB2AB;
    box-shadow:inset 0px 0px 0px 10px #9EB2AB;
    max-width: 411px;

    /* max-height: 480px; */
    /* max-width:100%;
    max-height:100%; */
    /* top: 17px;
    left: -17px; */
    z-index: -10;

}
.empreendimento-spacing{
    padding-top: 80px;
    padding-bottom: 80px;
}
.map-card-holder{
    background: #495953;
    border-radius: 4px;
    width: 411px;
    height: 385px;
    position: absolute;
    bottom: 105px;
    left: 181px;

}
.map-card-place{
    border: 3px solid #9EB2AB;
    box-sizing: border-box;
}
.map-holder{
    position: relative;
}
.square-leaf-bl{
    position: absolute;
    left: 10%;
    bottom: -20%;
}
.square-leaf-tr{
    position: absolute;
    right: 10%;
    top: -5%;
}
.square-leaf-tr-off{
    position: absolute;
    right: 10%;
    top: -20%;
}
.card-contact-spacing{
    padding: 33px 30px;
}
.planta-img-holder{
    width: fit-content;
    margin: auto;
    position: relative;
}
.btn-planta{
    position: absolute;
}
.cover-img{
    object-fit: cover !important;
}
.corretor-call-holder{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #495953;
}
/* mobile */
.navbar{
    border: none  !important;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0;
}
.header-nav{
    padding: 15px 10px;
        background: #6D847B !important;

}
.navbar-collapse{
    background: #495953 !important;
    padding: 25px 20px;
    margin-left: 30%;
}
.btn-line{
    border: 1px solid #E7DCD1 !important;
    border-radius: 0;
    color: #E7DCD1 !important;
    box-shadow: none !important;
}
.link-mobile{
    position: relative;
    bottom: 7px;
}
.margin-banner{
    margin-top: 250px;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .margin-banner{
        margin-top: 100px;
    }
    .content-container {
        padding: 1rem!important;
    }
    .row-img-holder {
        height: auto;
    }

    
    
  }